// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Base styles
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;

	@include breakpoint-850 {
		scroll-behavior: smooth;
	}
}

body {
	background: $pale;
}

main {
	background: $green;
	color: $pale;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;

	@include breakpoint-850 {
		overflow-y: auto;
		scroll-snap-type: none;
		scroll-behavior: none;
	}
}

section {
	scroll-snap-align: start;
}

header {
	color: $dark;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.2em;
}

p {
	font-size: 1em;
	line-height: 1.4;
	& + p {
		margin-top: 1em;
	}
}

small {
	font-size: 0.6em;
	color: $gray;
	line-height: 1.4;
	letter-spacing: 0.05em;
}