$col-width: 50%;
$row-height: 100vh;
.grid {
	display: grid;
	grid-template-columns: repeat(2, $col-width);

	@include breakpoint-850 {
		display: block;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: $col-width;
	height: $row-height;

	@include breakpoint-850 {
		position: static;
		height: auto;
		width: 100%;
	}

}

header, main {
	grid-row-start: 1;
	padding: 2em;
}

main {
	grid-column: 2 / 3;
	padding-top: 0;
	background: #333;
	color: #eee;
}