// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Nav
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$mod: 'nav';
.#{$mod}-list {
	margin-top: 1em;

	@include breakpoint-850 {
		display: flex;
	}

	@include breakpoint-650 {
		flex-direction: column;
	}
}
.#{$mod}-item {
	display: inline-block;
	@include small-nav;
	
	& + & {
		margin-left: 1em;

		@include breakpoint-650 {
			margin-left: 0;
		}
	}	
}

.#{$mod}-link {}
.#{$mod}-title {
	font-size: 1em;
	color: $green;
	text-decoration: underline;
}