$mod: 'section';

.#{$mod} {
	min-height: 100vh;
	border-bottom: 2px solid #555;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&:last-child {
		border: none;
	}
}
.#{$mod}-title {
	font-size: 1.8em;
	margin: 0.5em auto 0.4em 0;
}
.#{$mod}-intro {
}
.#{$mod}-link {
	margin-top: 1em;
	color: teal;
}

