// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Variables
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Colors
$white: #fff;
$gray: #aaa;
$pale: #e8e4e6;
$gold: #f9bc60;
$green: #004643;
$lightgreen: #abd1c6;
$red: #e16162;
$dark: #001e1d;