$mod: 'features';
.#{$mod}-list {
	margin-top: 2em;
}
.#{$mod}-item {
	background: whitesmoke;
	border: 2px solid #eee;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.#{$mod}-link {
	text-decoration: none;
	height: 100%;
	width: 100%;
	color: black;
	display: flex;
}
.#{$mod}-img-holder {
	display: flex;
	align-items: center;
	background: white;
}
.#{$mod}-img {
	width: 150px;
	height: 150px;
	flex-shrink: 0;
}
.#{$mod}-copy {
	padding: 0.8em;
}
.#{$mod}-title {
	font-size: 1em;
	text-decoration: underline;
	margin-bottom: 0.7em;
}
.#{$mod}-blurb {
	font-size: 0.8em;
}
.#{$mod}-disc {
	display: block;
	margin-top: 1em;
}